// Bootstrap brand color customization

/*     brand Colors              */
// $brand-color-primary: #754f44;
// $brand-color-secondary: #fdd692;
// $brand-color-alt-1: #ec7357;
// $brand-color-alt-2: #e1ce7a;
// $brand-color-alt-3: #fbffb9;

$brand-primary:              $brand-color-primary !default;
$brand-secondary:            $brand-color-secondary !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
