.card .card-header {
    background: #fff;
}

.card .card-header:not([class*="header-"]) {
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 8px 16px 0px;
}

.image {
    width: 100%;
    height: auto;
}

.section {
    padding: 30px 0;
}

.home-header-img {
    background-image: url("../../img/home.jpeg"); 
    transform: translate3d(0px, 0px, 0px);
}

.about-header-img {
    background-image: url("../../img/About-us.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.employer-header-img {
    background-image: url("../../img/Employer.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.employee-header-img {
    background-image: url("../../img/Agricultural.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.visa-header-img {
    background-image: url("../../img/action-cement-construction-2219024.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.faq-header-img {
    background-image: url("../../img/construction-helmet-industry-1216589.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.contact-header-img {
    background-image: url("../../img/connection-contact-focus-955081.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.header-title {
    font-size: 20px;
}