.card .card-header {
    background: #fff;
}

.card .card-header:not([class*="header-"]) {
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 8px 16px 0px;
}

.image {
    width: 100%;
    height: auto;
}

.section {
    padding: 30px 0;
}

.home-header-img {
    background-image: url("../../img/home.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.about-header-img {
    background-image: url("../../img/About-us.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.employer-header-img {
    background-image: url("../../img/Employer.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.employee-header-img {
    background-image: url("../../img/Agricultural.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.visa-header-img {
    background-image: url("../../img/visa.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.faq-header-img {
    background-image: url("../../img/faq.jpeg"); 
    transform: translate3d(0px, 0px, 0px);
}

.contact-header-img {
    background-image: url("../../img/contact.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.error-header-img {
    background-image: url("../../img/404.png"); 
    transform: translate3d(0px, 0px, 0px);
}

.header-title {
    font-size: 20px;
}

.info .icon a > i {
    font-size: 3.85rem;
}

.fontPageImg {
    height: 284.609px !important;
}