.card .card-header {
    background: #fff;
}

.card .card-header:not([class*="header-"]) {
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 8px 16px 0px;
}

.image {
    width: 100%;
    height: auto;
}

.section {
    padding: 30px 0;
}

.home-header-img {
    background-image: url("../../img/home.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.about-header-img {
    background-image: url("../../img/About-us.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.employer-header-img {
    background-image: url("../../img/Employer.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.employee-header-img {
    background-image: url("../../img/Agricultural.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.visa-header-img {
    background-image: url("../../img/visa.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.faq-header-img {
    background-image: url("../../img/faq.jpeg"); 
    transform: translate3d(0px, 0px, 0px);
}

.contact-header-img {
    background-image: url("../../img/contact.jpg"); 
    transform: translate3d(0px, 0px, 0px);
}

.error-header-img {
    background-image: url("../../img/404.png"); 
    transform: translate3d(0px, 0px, 0px);
}

.header-title {
    font-size: 20px;
}

.info .icon a > i {
    font-size: 3.85rem;
}

.fontPageImg {
    height: 284.609px !important;
}

/* .dark-filter:after {
    background: rgba(214, 214, 214, 0.88);
    background: linear-gradient(45deg, rgba(219, 219, 219, 0.88) 0%, rgba(180, 180, 180, 0.45) 100%);
    background: -webkit-linear-gradient(135deg, rgba(202, 202, 202, 0.88) 0%, rgba(151, 151, 151, 0.45) 100%);
    backdrop-filter: blur(5px);
} */

.brand {
    color: black;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .5);   
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(10px);
}